@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">
            Prova Técnica
        </h1>
        <h2>
            .net Core - Junior;
        </h2>

        <h3>Pedro Américo Costa Belfort</h3>
        <p>07/05/2020</p>
    </div>
